<app-navbar></app-navbar>
<div class="body">
    <img src="../../assets/Notfound.gif" alt="">

    <div class="oops">
        <div style="font-weight: bold;color: #6D6EF9;font-size: 44px;">Ooops, <br>
          You are lost!</div>
        We had been lost in another universe <br>
        <div style="margin-top: 20px;width: 350px;">We are sorry for this inconvinent this is caused
              either you are  you dont have access to this page
             or you 
           trying to search a page which is not existed 
          or deleted</div>


        <div class="Home">
            click here to for <button class="button">BACK TO HOME</button>
        </div>
    </div>
</div>
