<app-navbar></app-navbar>

<div class="body">
    <div class="intro">
        Gurudev <br>
        Sri Sri<br>
        Ravi Shanakar's <br>
    </div>

    <div class="daily">
        <p class="dt">Daily Knowledge Sheets</p>
        <p class="total">Total:34</p>
    </div>

    <!-- <div class="content"> -->
        <div class="box">
            <div class="box1">
                <div class="date">18 Jan 2018</div>
                <div class="place">Benguluru,India</div>
                <div class="heading">Guru Grace Story</div>
            </div>
            <div class="messageh">Message</div>
            <div class="messagec">Only one who is 100 percent in doing can recognize the happening.

                The healthiest way to apply this knowledge is to see the whole past as happening and the present as doing. If you see the past as doing, then ego and regret come along. And when you see the present as happening, then laziness and unawareness set in. If you apply the doing for the future, it brings tension and worry. If you apply the happening for the future, it might bring some confidence and also lethargy.
                
                Let the happening be for the past. Let the doing be for the present. And the future is a mix of both.
                
                The wise will see the doing in happening and the happening in doing simultaneously. Are you confused now? (Laughter)
                
                One who does a lot of work will never say he did a lot. When someone says he did a lot of work, that means he can do more. He has not done enough.
                
                Work does not tire you as much as the doership does. All the talents you have are for others. If you have good voice, it is for others. If you are a good cook, it is for others. If you write a good book, it is for others. What do you do? You donÒ´ sit and read your own book! If you are a good carpenter, it is for others. So all of your talents are useful for others. If you are a good surgeon, it is for others. You cannot do your own surgery. This is interesting. If you are school teacher, it is for others. You cannot teach your own children; they donÒ´ listen to you anyway. So all your work and talents are for others.</div>
            <div class="newsh">News:</div>
            <div class="newsc">
                Guru Purnima was celebrated all around the world. In the German Academy, people who had been there earlier could not believe their eyes. The Seva Warriors had made such a magic on the whole building. The "Moonwalk" on the mountain after Satsang was simply great and everyone was full!
            </div>
            <div class="end">JAI GURU DEV</div>
        </div>
    <!-- </div> -->
</div>